.pagination-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-size-dropdown{
    border: 1px solid #20232a;
    padding: .3rem .5rem;
    outline: none;
    border-radius: 5px;
}